.Header .MenuItems .MenuItems {
  top: 0%;
  left: 100%;
  visibility: hidden !important;
}

.MenuItem:hover .CodeBoxInput {
  visibility: visible !important;
}

.CodeBoxInput {
  width: 240px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  padding: 5px;
}